.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.7rem;
  color: rgb(199, 199, 199);
}

.step {
  position: relative;
  width: 30px;
  height: 52px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.185);
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.238);
}

.step:after{
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(59, 59, 59);
  top: 7px;
  left: 11px;
}

.step:before {
  position: absolute;
  content: '';
  top: 20px;
  left: 2px;
  width: 24px;
  height: 27px;
  border-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.211);
  border-bottom: 1px solid rgba(0, 0, 0, 0.211);
  box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.072);
}

.step_on:after{
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.698);
  top: 7px;
  left: 11px;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.342);
}

.step_playing:after{
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(249, 16, 16);
  box-shadow: 0px 0px 1px 2px rgba(255, 168, 168, 0.342);
  top: 7px;
  left: 11px;
}

.step:hover {
  border: 1px solid rgb(255, 255, 255);
}

.step:active {
  opacity: 0.6;
  border: 1px solid black;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.238);
  transform: scale(0.99, 0.99);
}

.step_first_q {
  background-color: rgb(209, 58, 58);
}

.step_second_q {
  background-color: rgb(209, 116, 58);
}

.step_third_q {
  background-color: rgb(251, 226, 59);
}

.step_fourth_q {
  background-color: rgb(255, 255, 255);
}